# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Виртуальное окружение
venv/
env/
.venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
*.iml

# Тесты
.pytest_cache/
.coverage
htmlcov/
allure-results/
allure-report/
logs/
screenshots_fail/

# Данные
ml/data/
*.pkl
*.joblib

# OS
Thumbs.db
.DS_Store